.data {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: Andora Demo;
}

.tambah {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tr {
    font-size: 20px;
}

.jenis {
    font-size: 17px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 50px;
}

.id {
    text-align: center;
}

.jumlah {
    text-align: center;
}

.edit {
    text-align: center;
    margin-bottom: 20px;
}

.delete {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url('src/d.png');
}

.wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration_form {
    background: #17a2b8;
    padding: 25px;
    border-radius: 5px;
    width: 400px;
}

.registration_form .title {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 5px;
    font-weight: 700;
}

.form_wrap {
    margin-top: 35px;
}

.form_wrap .input_wrap {
    margin-bottom: 15px;
}

.form_wrap .input_wrap:last-child {
    margin-bottom: 0;
}

.form_wrap .input_wrap label {
    display: block;
    margin-bottom: 3px;
    color: #fff;
}

.form_wrap .input_grp {
    display: flex;
    justify-content: space-between;
}

.form_wrap .input_grp input[type="text"] {
    width: 165px;
}

.form_wrap input[type="text"] {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #9597a6;
    padding: 10px;
    outline: none;
}

.form_wrap input[type="text"]:focus {
    border-color: #ebd0ce;
}

.form_wrap ul {
    background: #fff;
    padding: 8px 10px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
}

.form_wrap ul li:first-child {
    margin-right: 15px;
}

.form_wrap ul .radio_wrap {
    position: relative;
    margin-bottom: 0;
}

.form_wrap ul .radio_wrap .input_radio {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}

.form_wrap .submit_btn {
    width: 100%;
    background: #cc0052;
    padding: 10px;
    border: 0;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    cursor: pointer;
    font-family: 'Calibri';
    font-weight: bold;
    font-size: 16px;
}

.form_wrap .submit_btn:hover {
    background: #860036;
}

table.roundedCorners {
    border: 1px solid DarkOrange;
    border-radius: 13px;
    border-spacing: 0;
}

table.roundedCorners td,
table.roundedCorners th {
    border-bottom: 1px solid DarkOrange;
    padding: 10px;
}

table.roundedCorners tr:last-child>td {
    border-bottom: none;
}